
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}


html {
  line-height: 1;
}


ol, ul {
  list-style: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}


.container {
  *zoom: 1;
  max-width: 1200px;
  _width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}



h1, h2 {
  font-size: 34px;
  color: #898989;
}


html, body {
  box-sizing: border-box;
  background: white;
  padding: 0;
  margin: 0;
  font-family: 'Lato', serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: #898989;
  -webkit-backface-visibility: visible !important;
  text-rendering: optimizeLegibility;
  /*
    @include debug-vertical-alignment();
    @include susy-grid-background;
  */
}

html html, body html {
  font-size: 93.75%;
  line-height: 1.4em;
}



h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1 span, h2 span, h3 span, h4 span, h5 span {
  display: block;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #000000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #d4b02a;
}


a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #000000;
}

a:active, a:focus {
  outline: none;
}

a:hover {
  color: #d4b02a;
}


h1 {
  font-size: 2.26667em;
  line-height: 1.23529em;
}


h2 {
  font-size: 2.26667em;
  line-height: 1.23529em;
  line-height: 1.23529em;
}


h3 {
  font-size: 2.26667em;
  line-height: 0.61765em;
}


h4 {
  font-size: 0.93333em;
  line-height: 1.5em;
}



.logo {
  position: relative;
  bottom: 1.4em;
  height: 14em;
}

.logo img {
  position: relative;
  top: 17px;
}


.left, .right {
  margin-top: 7em;
  margin-bottom: 1.4em;
}


.right {
  margin-top: 16.8em;
}


.left {
  width: 16.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-right: 16.66667%;
  position: relative;
}

.left header ul, .left header li {
  margin: 0;
  padding: 0;
}

.left header ul {
  margin-top: 1.75em;
}

.left header ul li {
  font-size: 0.8em;
  line-height: 1.75em;
}


.right {
  width: 66.66667%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
}

.right article {
  margin-bottom: 16.8em;
}

.right article header {
  font-family: 'Lato', sans-serif;
  color: #000000;
}

.right article header strong, .right article header span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1em;
  line-height: 1.4em;
}

.right article header strong {
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 5px;
}

.right article header span {
  font-weight: 400;
}

.right article figure {
  margin-top: 1.4em;
}

.right article figure img {
  display: block;
  margin-bottom: 1.4em;
}

.right .skills {
  margin-bottom: 1.4em;
  position: absolute;
  left: 31px;
  bottom: 16.8em;
}


.copyright {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
  text-align: right;
  font-size: 0.73333em;
  line-height: 1.90909em;
  margin-bottom: 7em;
  color: #000;
}
