/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* $show-grid-backgrounds  : false; */
/* #FFCB05; */
/* -------------------------------------------------------------------------*/
/* Layout */
/* line 17, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 1200px;
  _width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 38, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/screen.scss */
.border-after:after {
  display: block;
  height: 2px;
  background: #000;
  width: 20px;
  margin-bottom: 1.61538em;
  margin-top: 1.53846em;
  content: '';
}
@media screen and (max-width: 320px) {
  /* line 22, ../sass/screen.scss */
  .border-after:after {
    width: auto;
  }
}

/* line 38, ../sass/screen.scss */
.border-before:before {
  display: block;
  height: 2px;
  background: #000;
  width: 20px;
  margin-bottom: 1.61538em;
  margin-top: 1.53846em;
  content: '';
}
@media screen and (max-width: 320px) {
  /* line 38, ../sass/screen.scss */
  .border-before:before {
    width: auto;
  }
}

/* WONDERWERELD: */
/* line 53, ../sass/screen.scss */
h1, h2 {
  font-size: 34px;
  color: #898989;
}

/* line 59, ../sass/screen.scss */
html, body {
  box-sizing: border-box;
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: #898989;
  -webkit-backface-visibility: visible !important;
  text-rendering: optimizeLegibility;
}
/* line 105, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html html, body html {
  font-size: 93.75%;
  line-height: 1.4em;
}
@media screen and (max-width: 320px) {
  /* line 59, ../sass/screen.scss */
  html, body {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
  }
}

/* Dussekstraat 35: */
/* line 83, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 90, ../sass/screen.scss */
h1 span, h2 span, h3 span, h4 span, h5 span {
  display: block;
}
/* line 94, ../sass/screen.scss */
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #000000;
}
/* line 97, ../sass/screen.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #d4b02a;
}

/* line 103, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #000000;
}
/* line 6, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 106, ../sass/screen.scss */
a:hover {
  color: #d4b02a;
}

/* line 111, ../sass/screen.scss */
h1 {
  font-size: 2.4em;
  line-height: 1.16667em;
}

/* line 114, ../sass/screen.scss */
h2 {
  font-size: 2.4em;
  line-height: 1.16667em;
  line-height: 1.16667em;
}

/* line 118, ../sass/screen.scss */
h3 {
  font-size: 2.4em;
  line-height: 0.58333em;
}

/* line 122, ../sass/screen.scss */
h4 {
  font-size: 0.93333em;
  line-height: 1.5em;
}

/* MET TAART EN BALLONN: */
/* line 129, ../sass/screen.scss */
.logo {
  position: relative;
  height: 14em;
  bottom: 1.4em;
}
@media screen and (max-width: 320px) {
  /* line 129, ../sass/screen.scss */
  .logo {
    margin-top: 1.4em;
    text-align: center;
  }
}
/* line 139, ../sass/screen.scss */
.logo img {
  position: relative;
  top: 17px;
}

/* line 145, ../sass/screen.scss */
.left, .right {
  margin-bottom: 1.4em;
}
@media (min-width: 320px) {
  /* line 145, ../sass/screen.scss */
  .left, .right {
    margin-top: 1.4em;
  }
}
@media (min-width: 1200px) {
  /* line 145, ../sass/screen.scss */
  .left, .right {
    margin-top: 7em;
  }
}

@media (min-width: 1200px) {
  /* line 156, ../sass/screen.scss */
  .right {
    margin-top: 16.8em;
  }
}
@media (min-width: 320px) {
  /* line 156, ../sass/screen.scss */
  .right {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-box-ordinal-group: 1;
    box-ordinal-group: 1;
  }
}

/* line 164, ../sass/screen.scss */
.left {
  position: relative;
}
@media screen and (max-width: 320px) {
  /* line 164, ../sass/screen.scss */
  .left {
    text-align: center;
  }
}
@media (min-width: 320px) {
  /* line 164, ../sass/screen.scss */
  .left {
    width: 100%;
    float: right;
    margin-right: 0;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-box-ordinal-group: 2;
    box-ordinal-group: 2;
  }
}
@media (min-width: 1200px) {
  /* line 164, ../sass/screen.scss */
  .left {
    width: 16.66667%;
    float: left;
    margin-right: 0%;
    margin-right: 16.66667%;
  }
}
/* line 183, ../sass/screen.scss */
.left header ul, .left header li {
  margin: 0;
  padding: 0;
}
/* line 187, ../sass/screen.scss */
.left header ul {
  margin-top: 1.61538em;
}
/* line 188, ../sass/screen.scss */
.left header ul li {
  font-size: 0.86667em;
  line-height: 1.61538em;
}
/* line 196, ../sass/screen.scss */
.left .info {
  margin-left: 18px;
  text-transform: uppercase;
  color: #b89398;
}
@media screen and (max-width: 320px) {
  /* line 196, ../sass/screen.scss */
  .left .info {
    margin-left: 0px;
  }
}
/* line 204, ../sass/screen.scss */
.left .info .email {
  text-transform: lowercase;
}
/* line 209, ../sass/screen.scss */
.left .push {
  margin-bottom: 1.61538em;
}
/* line 213, ../sass/screen.scss */
.left .hire-me {
  position: relative;
  margin-top: 3.23077em;
  margin-left: 18px;
  height: 9.69231em;
}
@media screen and (max-width: 320px) {
  /* line 213, ../sass/screen.scss */
  .left .hire-me {
    margin-left: 90px;
    margin-top: 1.61538em;
    text-align: center;
  }
}
/* line 226, ../sass/screen.scss */
.left .hire-me h3 {
  font-weight: 400;
  font-size: 0.66667em;
  line-height: 2.1em;
  color: #FFF;
  line-height: 12px;
  text-align: center;
  width: 50px;
  height: 57px;
  background-image: url('/images/sprite-s3250876658.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 57px;
  width: 50px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  /* line 226, ../sass/screen.scss */
  .left .hire-me h3 {
    background-image: url('/images/sprite-2x-s5d412e56a9.png');
    background-size: 164px 472px;
    background-position: 0 0;
    height: 57px;
    width: 50px;
  }
}
/* line 237, ../sass/screen.scss */
.left .hire-me h3 a {
  display: block;
  color: #fff;
  margin: 16px 3px 0 3px;
}
/* line 243, ../sass/screen.scss */
.left .hire-me .dennis {
  position: absolute;
  left: 25px;
  top: 36px;
}
/* line 251, ../sass/screen.scss */
.left .references {
  margin-left: 18px;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  /* line 251, ../sass/screen.scss */
  .left .references {
    margin-left: 0px;
  }
}
/* line 259, ../sass/screen.scss */
.left .references h3 {
  font-size: 0.86667em;
  line-height: 1.61538em;
  font-weight: 300;
}
/* line 263, ../sass/screen.scss */
.left .references ol {
  font-size: 0.86667em;
  line-height: 1.61538em;
}
/* line 266, ../sass/screen.scss */
.left .references ol a {
  color: #b89398;
}
/* line 268, ../sass/screen.scss */
.left .references ol a:hover {
  color: #000;
}
@media screen and (max-width: 320px) {
  /* line 274, ../sass/screen.scss */
  .left .references:after {
    display: block;
    height: 2px;
    background: #000;
    width: 20px;
    margin-bottom: 1.61538em;
    margin-top: 1.53846em;
    content: '';
  }
}
@media screen and (max-width: 320px) and (max-width: 320px) {
  /* line 274, ../sass/screen.scss */
  .left .references:after {
    width: auto;
  }
}

@media (min-width: 320px) {
  /* line 291, ../sass/screen.scss */
  .right {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 291, ../sass/screen.scss */
  .right {
    width: 66.66667%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 299, ../sass/screen.scss */
  .right article {
    margin-bottom: 14em;
  }
}
@media (min-width: 320px) {
  /* line 299, ../sass/screen.scss */
  .right article {
    margin-bottom: 5.6em;
  }
}
/* line 308, ../sass/screen.scss */
.right article header {
  font-family: "Lato", "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", serif;
  color: #000000;
}
@media (min-width: 320px) {
  /* line 308, ../sass/screen.scss */
  .right article header {
    padding-left: 10px;
  }
}
/* line 314, ../sass/screen.scss */
.right article header strong, .right article header span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1em;
  line-height: 1.4em;
  font-family: "HelveticaNeue", "Helvetica Neue", "Lato", serif;
}
/* line 319, ../sass/screen.scss */
.right article header strong {
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 5px;
}
/* line 324, ../sass/screen.scss */
.right article header span {
  font-weight: 400;
}
/* line 329, ../sass/screen.scss */
.right article figure {
  margin-top: 1.4em;
}
/* line 332, ../sass/screen.scss */
.right article figure img {
  display: block;
  margin-bottom: 1.4em;
}
@media (min-width: 320px) {
  /* line 332, ../sass/screen.scss */
  .right article figure img {
    width: 100%;
  }
}
/* line 344, ../sass/screen.scss */
.right .skills {
  margin-bottom: 1.4em;
  position: absolute;
  left: 31px;
  bottom: 16.8em;
}
@media screen and (max-width: 320px) {
  /* line 344, ../sass/screen.scss */
  .right .skills {
    display: none;
  }
}

/* line 355, ../sass/screen.scss */
.copyright {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
  font-size: 0.73333em;
  line-height: 1.90909em;
  margin-bottom: 7em;
  color: #000;
}
@media (min-width: 320px) {
  /* line 355, ../sass/screen.scss */
  .copyright {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  /* line 355, ../sass/screen.scss */
  .copyright {
    text-align: right;
  }
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}.container{*zoom:1;max-width:1200px;_width:1200px;padding-left:0px;padding-right:0px;margin-left:auto;margin-right:auto;position:relative}.container:after{content:"";display:table;clear:both}.border-after:after{display:block;height:2px;background:#000;width:20px;margin-bottom:1.61538em;margin-top:1.53846em;content:''}@media screen and (max-width: 320px){.border-after:after{width:auto}}.border-before:before{display:block;height:2px;background:#000;width:20px;margin-bottom:1.61538em;margin-top:1.53846em;content:''}@media screen and (max-width: 320px){.border-before:before{width:auto}}h1,h2{font-size:34px;color:#898989}html,body{box-sizing:border-box;background:white;padding:0;margin:0;font-family:"Lato", "HelveticaNeue-Light", "Helvetica Neue Light", serif;font-size:15px;font-weight:300;font-style:normal;color:#898989;-webkit-backface-visibility:visible !important;text-rendering:optimizeLegibility}html html,body html{font-size:93.75%;line-height:1.4em}@media screen and (max-width: 320px){html,body{-webkit-box-align:center;-moz-box-align:center;-ms-box-align:center;box-align:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:box}}h1,h2,h3,h4,h5{margin:0;padding:0;color:#000000;text-transform:uppercase;font-weight:100}h1 span,h2 span,h3 span,h4 span,h5 span{display:block}h1 a,h2 a,h3 a,h4 a,h5 a{color:#000000}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover{color:#d4b02a}a{color:inherit;text-decoration:inherit;cursor:inherit;color:#000000}a:active,a:focus{outline:none}a:hover{color:#d4b02a}h1{font-size:2.4em;line-height:1.16667em}h2{font-size:2.4em;line-height:1.16667em;line-height:1.16667em}h3{font-size:2.4em;line-height:0.58333em}h4{font-size:0.93333em;line-height:1.5em}.logo{position:relative;height:14em;bottom:1.4em}@media screen and (max-width: 320px){.logo{margin-top:1.4em;text-align:center}}.logo img{position:relative;top:17px}.left,.right{margin-bottom:1.4em}@media (min-width: 320px){.left,.right{margin-top:1.4em}}@media (min-width: 1200px){.left,.right{margin-top:7em}}@media (min-width: 1200px){.right{margin-top:16.8em}}@media (min-width: 320px){.right{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-box-ordinal-group:1;box-ordinal-group:1}}.left{position:relative}@media screen and (max-width: 320px){.left{text-align:center}}@media (min-width: 320px){.left{width:100%;float:right;margin-right:0;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-box-ordinal-group:2;box-ordinal-group:2}}@media (min-width: 1200px){.left{width:16.66667%;float:left;margin-right:0%;margin-right:16.66667%}}.left header ul,.left header li{margin:0;padding:0}.left header ul{margin-top:1.61538em}.left header ul li{font-size:0.86667em;line-height:1.61538em}.left .info{margin-left:18px;text-transform:uppercase;color:#b89398}@media screen and (max-width: 320px){.left .info{margin-left:0px}}.left .info .email{text-transform:lowercase}.left .push{margin-bottom:1.61538em}.left .hire-me{position:relative;margin-top:3.23077em;margin-left:18px;height:9.69231em}@media screen and (max-width: 320px){.left .hire-me{margin-left:90px;margin-top:1.61538em;text-align:center}}.left .hire-me h3{font-weight:400;font-size:0.66667em;line-height:2.1em;color:#FFF;line-height:12px;text-align:center;width:50px;height:57px;background-image:url('/images/sprite-s3250876658.png');background-position:0 0;background-repeat:no-repeat;overflow:hidden;display:block;height:57px;width:50px}@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2){.left .hire-me h3{background-image:url('/images/sprite-2x-s5d412e56a9.png');background-size:164px 472px;background-position:0 0;height:57px;width:50px}}.left .hire-me h3 a{display:block;color:#fff;margin:16px 3px 0 3px}.left .hire-me .dennis{position:absolute;left:25px;top:36px}.left .references{margin-left:18px;text-transform:uppercase}@media screen and (max-width: 320px){.left .references{margin-left:0px}}.left .references h3{font-size:0.86667em;line-height:1.61538em;font-weight:300}.left .references ol{font-size:0.86667em;line-height:1.61538em}.left .references ol a{color:#b89398}.left .references ol a:hover{color:#000}@media screen and (max-width: 320px){.left .references:after{display:block;height:2px;background:#000;width:20px;margin-bottom:1.61538em;margin-top:1.53846em;content:''}}@media screen and (max-width: 320px) and (max-width: 320px){.left .references:after{width:auto}}@media (min-width: 320px){.right{width:100%;float:right;margin-right:0}}@media (min-width: 1200px){.right{width:66.66667%;float:right;margin-right:0}}@media (min-width: 1200px){.right article{margin-bottom:14em}}@media (min-width: 320px){.right article{margin-bottom:5.6em}}.right article header{font-family:"Lato", "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", serif;color:#000000}@media (min-width: 320px){.right article header{padding-left:10px}}@media (min-width: 1200px){.right article header{padding-left:0}}.right article header strong,.right article header span{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;font-size:1em;line-height:1.4em;font-family:"HelveticaNeue", "Helvetica Neue", "Lato", serif}.right article header strong{font-weight:400;text-transform:uppercase;margin-right:5px}.right article header span{font-weight:400}.right article figure{margin-top:1.4em}.right article figure img{display:block;margin-bottom:1.4em}@media (min-width: 320px){.right article figure img{width:100%}}.right .skills{margin-bottom:1.4em;position:absolute;left:31px;bottom:16.8em}@media screen and (max-width: 320px){.right .skills{display:none}}.copyright{width:100%;float:right;margin-right:0;#margin-left:0px;display:inline;font-size:0.73333em;line-height:1.90909em;margin-bottom:7em;color:#000}@media (min-width: 320px){.copyright{text-align:center}}@media (min-width: 1200px){.copyright{text-align:right}}
