<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>{{ page.title }}</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta name="google-site-verification" content="-j_Yk6qcgD-V9HdKk4ffj-Dwre2pAU5MQjuQyGsKh38" />
    <meta name="description" content="Getalenteerd grafisch vormgever en illustrator uit Tilburg. Helpt u niet alleen met een nieuw logo, huisstijl of website, maar geeft vorm aan uw complete brand identity." />
    <meta name="keywords" content="grafisch ontwerper, illustraties, brand identity, logo, huisstijl, website, folder, poster, affiche, brochure, boek, magazine" />
    <meta name="author" content="Dennis van Hest" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://designerdennis.nl/images/share.jpg" />
    <meta property="og:url" content="http://designerdennis.nl" />
    <meta property="og:description" content="Getalenteerd grafisch vormgever en illustrator uit Tilburg. Helpt u niet alleen met een nieuw logo, huisstijl of website, maar geeft vorm aan uw complete brand identity." />
    <meta property="twitter:url" content="http://designerdennis.nl" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:description" content="Getalenteerd grafisch vormgever en illustrator uit Tilburg. Helpt u niet alleen met een nieuw logo, huisstijl of website, maar geeft vorm aan uw complete brand identity." />
    <meta property="twitter:image" content="http://designerdennis.nl/images/share.jpg" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css' />
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='container'>
      <section class='left'>
        <header>
          <div class='logo'>
            <img src="/images/sprite/logo.png" srcset="/images/sprite-2x/logo.png 2x" />
          </div>
          <address class='info border-after'>
            <ul>
              <li>Dussekstraat 35</li>
              <li>5011 AG Tilburg</li>
            <ul>
              <li>Torenallee 45</li>
              <li>5617 BA Eindhoven</li>
              <li>Glasgebouw Strijp-S</li>
              <li>(SWA 5.016)</li>
            <ul>
			  <li>06 51356929</li>
              <li class='email'>
                <a href="mailto:hallo@designerdennis.nl">hallo@designerdennis.nl</a>
              </li>
            </ul>
          </address>
          <ul class='info'>
            <li>Brand Identity</li>
		    <li>Grafisch Ontwerp</li>
            <li>Conceptontwikkeling</li>
            <li class='push'>Illustraties</li>
            <li>
              <a href='mailto:hallo@designerdennis.nl'>identity issues? klik hier! de koffie staat klaar</a>
            </li>
          </ul>
          <div class='hire-me'>
            <h3>
              <a href='mailto:hallo@designerdennis.nl'>Huur me in!</a>
            </h3>
            <div class='dennis'>
              <img src="/images/sprite/dennis.png" srcset="/images/sprite-2x/dennis.png 2x" />
            </div>
          </div>
          <div class='references border-before'>
            <h3>Referenties</h3>
            <ol>
                <li>
                  <a href='http://abab.nl'>Abab</a>
                </li>
                <li>
                  <a href='http://achmea.nl'>Achmea</a>
                </li>
                <li>
                  <a href='http://www.arqiz.nl'>Arqiz</a>
                </li>
                <li>
                  <a href='http://www.decreatieveafdeling.nl'>De Creatieve Afdeling</a>
                </li>
                <li>
				  <a href='http://shop.heutink.nl/nl/'>Heutink International</a>
                </li>
                <li>
                  <a href='http://interpolis.nl'>Interpolis</a>
                </li>
                <li>
                  <a href='http://www.kindertherapiedevlieger.nl'>De Vlieger</a>
                </li>
                <li>
                  <a href='http://www.kio-textilestudio.nl'>Kitty Ontwerpt</a>
                </li>
                <li>
                  <a href='http://kleuterklasse.nl'>Kleuterklasse</a>
                </li>
                <li>
  				  <a href='http://kuipersbloemengroothandel.nl'>Kuipers</a>
                  </li>
                  <li>
				  <a href='http://www.malmberg.nl'>Malmberg</a>
                </li>
                <li>
  				  <a href='http://www.power-s.nl'>Power-S</a>
                </li>
                <li>
                  <a href='https://www.facebook.com/rennevoirt.rennevoirt?fref=ts'>Rennevoirt</a>
                </li>
                <li>
                  <a href='http://rabobank.nl'>Rabobank</a>
                </li>
                <li>
                  <a href='https://webshop.reinders-oisterwijk.nl'>Reinders</a>
                </li>
                <li>
                  <a href='http://www.scheepens.nl'>SRA</a>
                </li>
                <li>
                  <a href='http://www.strategobranding.nl'>Stratego Branding</a>
                </li>
                <li>
  				  <a href='http://studentsounds.nl'>Student Sounds</a>
                </li>
                <li>
                  <a href='http://yoursportpro.nl'>Your Sport Pro</a>
                </li>
            </ol>
          </div>
        </header>
      </section>
      <section class='right'>
      
        {{ content }}
        
        <div class='skills'>
          <img src="/images/sprite/skills.png" srcset="/images/sprite-2x/skills.png 2x" />
        </div>
      </section>
      <div class='copyright'>
        &copy; 2014thub
		 Dennis van Hest | designerdennis | Tilburg | KVK: 58818995 | BTW: NL152233465B01 | ING: NL33INGB0006087437
      </div>
    </div>
  </body>
</html>