<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>{{ page.title }}</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta name="google-site-verification" content="-j_Yk6qcgD-V9HdKk4ffj-Dwre2pAU5MQjuQyGsKh38" />
    <meta name="description" content="Getalenteerd grafisch vormgever en illustrator uit Tilburg. Helpt u niet alleen met een nieuw logo, huisstijl of website, maar geeft vorm aan uw complete brand identity." />
    <meta name="keywords" content="grafisch ontwerper, illustraties, brand identity, logo, huisstijl, website, folder, poster, affiche, brochure, boek, magazine" />
    <meta name="author" content="Dennis van Hest" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://designerdennis.nl/images/share.jpg" />
    <meta property="og:url" content="http://designerdennis.nl" />
    <meta property="og:description" content="Getalenteerd grafisch vormgever en illustrator uit Tilburg. Helpt u niet alleen met een nieuw logo, huisstijl of website, maar geeft vorm aan uw complete brand identity." />
    <meta property="twitter:url" content="http://designerdennis.nl" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:description" content="Getalenteerd grafisch vormgever en illustrator uit Tilburg. Helpt u niet alleen met een nieuw logo, huisstijl of website, maar geeft vorm aan uw complete brand identity." />
    <meta property="twitter:image" content="http://designerdennis.nl/images/share.jpg" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css' />
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='container'>
      <section class='left'>
        <header>
          <div class='logo'>
            <img src="/images/sprite/logo.png" srcset="/images/sprite-2x/logo.png 2x" />
          </div>
          <address class='info border-after'>
            <ul>
              <li>Dussekstraat 35</li>
              <li>5011AG Tilburg</li>
              <li>06 51356929</li>
              <li class='email'>
                <a href="mailto:hallo@designerdennis.nl">hallo@designerdennis.nl</a>
              </li>
            </ul>
          </address>
          <ul class='info'>
            <li>Grafisch ontwerp</li>
            <li>Conceptontwikkeling</li>
            <li>Brand identity</li>
            <li class='push'>Illustraties op maat</li>
            <li>Creatieve workshops</li>
            <li>Kunst</li>
            <li>
              <a href='mailto:hallo@designerdennis.nl'>Direct uw huisstijl offerte aanvragen?</a>
            </li>
          </ul>
          <div class='hire-me'>
            <h3>
              <a href='mailto:hallo@designerdennis.nl'>Huur me in!</a>
            </h3>
            <div class='dennis'>
              <img src="/images/sprite/dennis.png" srcset="/images/sprite-2x/dennis.png 2x" />
            </div>
          </div>
          <div class='references border-before'>
            <h3>Referenties</h3>
            <ol>
                <li>           
                  <a href='http://abab.nl'>Abab</a>
                </li>
                <li>
                  <a href='http://achmea.nl'>Achmea</a>
                </li>
                <li>
                  <a href='http://advangeloven.com'>Ad van Geloven</a>
                </li>
                <li>
                  <a href='http://axon.tv'>Axon Digital Design</a>
                </li>
                <li>
                  <a href='http://castelijnenbeerens.com'>Castelijn en Beerens</a>
                </li>
                <li>
                  <a href='http://tilburg.nl'>Gemeente Tilburg</a>
                </li>
                <li>
                  <a href='http://eindhoven.nl'>Gemeente Eindhoven</a>
                </li>
                <li>
                  <a href='http://heijmans.nl'>Heijmans</a>
                </li>
                <li>
                  <a href='http://interpolis.nl'>Interpolis</a>
                </li>
                <li>
                  <a href='http://janssen-fritsen.nl'>Janssen-Fritsen</a>
                </li>
                <li>
                  <a href='http://mandemakers.nl'>Mandemakers keukens</a>
                </li>
                <li>
                  <a href='http://Mora.nl'>Mora</a>
                </li>
                <li>
                  <a href='http://pro-fitz.biz'>Profitz</a>
                </li>
                <li>
                  <a href='http://qualcomm.com'>Qualcomm</a>
                </li>
                <li>
                  <a href='http://rabobank.nl'>Rabobank</a>
                </li>
                <li>
                  <a href='http://rkcwaalwijk.nl'>RKC Waalwijk</a>
                </li>
                <li>
                  <a href='http://24kitchen.nl'>Rudolph van Veen / 24Kitchen</a>
                </li>
                <li>
                  <a href='http://smeulders-ig.nl'>Smeulders Interieurgroep</a>
                </li>
                <li>
                  <a href='http://sportsforchildren.nl'>Sports for Children</a>
                </li>
                <li>
                  <a href='http://tilburguniversity.nl'>Tilburg University</a>
                </li>
                <li>
                  <a href='http://tudelft.nl'>TU Delft</a>
                </li>
                <li>
                  <a href='http://willem-ii.nl'>Willem II</a>
                </li>
                <li>
                  <a href='http://yoursportpro.nl'>Your Sport Pro</a>
                </li>
            </ol>
          </div>
        </header>
      </section>
      <section class='right'>
      
        {{ content }}
        
        <div class='skills'>
          <img src="/images/sprite/skills.png" srcset="/images/sprite-2x/skills.png 2x" />
        </div>
      </section>
      <div class='copyright'>
        &copy; 2013 Dennis van Hest | designerdennis | Tilburg
      </div>
    </div>
  </body>
</html>